/* Universal styling */
.xfce4-panel {
	background-color: rgba(40, 40, 40, 0.65);
}

/* GTK + Picom fixes */
window-frame,
.window-frame:backdrop {
    box-shadow: 0 0 0 black;
    border-style: none;
    margin: 0px;
    border-radius: 0;
    box-shadow: none;
}

.popover,
.popover.background {
    box-shadow: none;
}

decoration {
    box-shadow: none;
    margin: 0px;
}

.csd.popup {
    box-shadow: none;
}

tooltip {
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
}
/* Panel 1 styling */
.xfce4-panel.horizontal {
	background-color: rgba(40, 40, 40, 0.65);
	border: 1px solid rgba(146, 131, 116, 0.35);
	border-radius: 12px;
/*	box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.85); */
}

/* Button styling */
.xfce4-panel button {
	background-color: rgba(40, 40, 40, 0.00);
	color: rgba(235, 219, 178, 1.00);
	border: none;
	border-radius: 10px;
	padding: 2px 10px;
	transition: all 0.25s ease-in-out;
}

.xfce4-panel button:checked {
	color: rgba(69, 133, 136, 1.00);
}

.xfce4-panel button:hover {
	color: rgba(251, 241, 199, 1.00);
	border-radius: 10px;
}

/* Widget styling */
.tasklist button:checked {
	color: rgba(69, 133, 136, 1.00); 
/*	background-color: rgba(60, 56, 54, 0.50); */
	border-radius: 10px;
}

